/*about us*/
body {
    font-family: Arial, sans-serif;
}

#about {
    padding: 4rem 0;
    margin: 0 auto;
}

#about h2 {
text-align: center;
color: var(--primary);
margin-top: 3rem;
margin-bottom: 1.5rem;
font-size: 2rem;
}

#about h3 {
    text-align: center;
    color: var(--primary);
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

#about p{
    text-align: center;
    line-height: 1.6;
    max-width: 800px;
    margin:0 auto 2rem auto;
    font-size: 1rem;
}

.accreditation-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card {
    background-color: #f8f8f8;
    border: 1px solid #3b82f6;
    width: 180px;
    min-height: 180px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--primary);
}

.card p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.card-icon {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #333;
}

@media (max-width: 768px) {
    .accreditation-cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        max-width: 300px;
    }
}